---
layout: default
title: Styleguide
---

<div class="logo"></div>

<nav class="dashboard-tabs" id="j-nav">
  <ul>
    {% for post in site.posts reversed %}
    <li><a href="#{{ post.id }}">{{ post.title | split: ' ' | first }}</a></li>
    {% endfor %}
  </ul>
</nav>

<section class="styleguide">
  {% for post in site.posts reversed %}
  <article id="{{ post.id }}">
    <h1>{{ post.title }}</h1>
    {{ post.content }}
  </article>
  {% endfor %}
</section>

<script>
var navs = document.getElementById('j-nav').getElementsByTagName('a')
var titles = document.getElementsByTagName('h1')
var target = location.hash.slice(1)

if (target.length) {
  setActiveNav(target)
}
else {
  location.hash = getTargetName(0)
}

window.addEventListener('hashchange', function() {
  setActiveNav(location.hash.slice(1))
}, false)

function setActiveNav(target) {
  for (var i = 0; i < navs.length; i++) {
    if (getTargetName(i) === target) {
      navs[i].className = 'active'
      document.title = titles[i].innerHTML
    }
    else {
      navs[i].className = ''
    }
  }
}

function getTargetName(index) {
  return navs[index].href.split('#')[1]
}
</script>
