{% case include.param %}
{% when 'buttons' %}
<div class="example clearfix">
  <p>
    <a href="#/styleguide/sass" class="btn">Link</a>
    <a href="#/styleguide/sass" class="btn" disabled="disabled">Link</a>
    <button type="button" class="btn">Default</button>
    <button type="button" class="btn" disabled="disabled">Default</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-danger" disabled="disabled">Danger</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-primary" disabled="disabled">Primary</button>
  </p>
  <p>
    <button type="button" class="btn" style="font-size: 14px">font-size: 14px</button>
    <button type="button" class="btn" style="font-size: 20px">font-size: 20px</button>
    <button type="button" class="btn" style="font-size: 26px">font-size: 26px</button>
  </p>
</div>

{% when 'forms' %}
<div class="example clearfix">
  <div class="form-item">
    <label class="heading-label required" for="email">邮箱</label>
    <input class="input" id="email" name="email" placeholder="Email" type="text" />
  </div>
  <div class="form-item">
    <label class="heading-label required" for="password">密码</label>
    <input class="input" id="password" name="password" placeholder="Password" type="password" />
    <p class="tips">密码长度应在 6 位以上，并使用数字、字母和符号的组合</p>
  </div>
  <div class="form-item">
    <label class="heading-label" for="weibo">微博</label>
    <textarea class="input" id="weibo" name="weibo" placeholder="有什么新鲜事想告诉大家？" rows="3"></textarea>
  </div>
  <div class="form-item">
    <input id="remember" name="remember" type="checkbox" value="1" />
    <label class="linking-label" for="remember">15天内自动登录</label>
  </div>
  <div class="form-item">
    <button class="btn" type="submit">提交</button>
  </div>
</div>

{% when 'flashes' %}
<div class="example clearfix">
  <div class="flash-message">
    <div class="flash-success">
      <p>Well done!</p>
    </div>
    <div class="flash-error">
      <p>Sorry, something went wrong!</p>
    </div>
    <div class="flash-warn">
      <p>Warning!</p>
    </div>
    <div class="flash-info">
      <p>Attention!</p>
    </div>
  </div>
</div>
{% endcase %}
