{% if site.google_analytics %}
<script>
var _gaq = _gaq || []
_gaq.push(
  ['_setAccount', '{{ site.google_analytics }}'],
  ['_addOrganic', 'baidu', 'wd'],
  ['_require', 'inpage_linkid', 'http://www.google-analytics.com/plugins/ga/inpage_linkid.js'],
  ['_trackPageview']
)

;(function(onDev) {
  if (onDev) {
    return
  }

  var ga = document.createElement('script')
  ga.async = true
  ga.src = 'http://www.google-analytics.com/ga.js'

  var s = document.getElementsByTagName('script')[0]
  s.parentNode.insertBefore(ga, s)
})(location.hostname === 'localhost')
</script>
{% endif %}
