// Private variables
$font-size-base: 16px;
$line-height-base: 1.75;
// Flash messages. (Order: text, background, border)
$flash-states: success warning danger info !default;
$flash-colors: #468847 #dff0d8 darken(adjust-hue(#dff0d8, -10), 5%),
               #c09853 #fcf8e3 darken(adjust-hue(#fcf8e3, -10), 3%),
               #b94a48 #f2dede darken(adjust-hue(#f2dede, -10), 3%),
               #3a87ad #d9edf7 darken(adjust-hue(#d9edf7, -10), 7%) !default;

// Core Variables and Mixins
@import 'base/variables', 'base/mixins';

// Adjust browser support
@include support($legacy-ie: false, $legacy-webkit: false, $legacy-moz: false);

// Reset
@import 'base/reset';

// Utility classes
@import 'base/placeholders', 'base/helpers';

.container {
  min-width: 280px;
  max-width: 984px;
  margin: {
    left: auto;
    right: auto;
  }
  padding: 20px;
}

.logo {
  width: 179px;
  height: 26px;
  margin-bottom: 20px;
  @include img-retina('http://edoctor.cn/assets/edoctor/logo.png', 'http://edoctor.cn/assets/edoctor/logo@2x.png');
  background-repeat: no-repeat;
}

.dashboard-tabs {
  margin-bottom: 15px;
  background-color: #eaeaea;
  @include background-image(linear-gradient(#fafafa, #eaeaea));
  border: 1px solid #eaeaea;
  border-bottom-color: #cacaca;
  border-radius: 4px;
  font-weight: bold;

  li {
    display: table-cell;
    width: 1%;

    &:first-child a {
      border-left: 0;
      border-bottom-left-radius: 4px;

      &:hover, &.active {
        border-top-left-radius: 4px;
      }
    }

    &:last-child a {
      border-right: 0;
      border-bottom-right-radius: 4px;

      &:hover, &.active {
        border-top-right-radius: 4px;
      }
    }
  }

  a {
    display: block;
    padding: 8px 0;
    border: {
      bottom: 2px solid #dadada;
      left: 1px solid rgba(#fff, 0.7);
      right: 1px solid rgba(#000, 0.04);
    }
    color: #777;
    font-size: $font-size-base + 2px;
    text-align: center;
    text-shadow: 0 1px #fff;

    &:hover {
      background-color: #dce6ef;
      @include background-image(linear-gradient(#fafbfd, #dce6ef));
      border-bottom: 2px solid #cfdce8;
      color: #4183c4;
    }

    &.active, &.active:hover {
      background-color: #ebebeb;
      @include background-image(linear-gradient(#fcfcfc, #ebebeb));
      border-bottom: 2px solid rgba($brand-success, 0.8);
      color: $text-color;
      text-decoration: none;
      cursor: default;
    }
  }
}

.styleguide {
  > article {
    display: none;
  }

  ol, ul {
    margin: {
      left: 25px;
      bottom: $font-size-base * $line-height-base / 2;
    }

    ol, ul {
      margin: {
        top: 0;
        bottom: 0;
      }
    }

    ul {
      list-style: circle;
    }
  }

  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }

  .btn {
    font-size: 14px;
  }
}

h1 {
  padding-bottom: 20px;
  font-size: $font-size-base * 1.8;
  text-shadow: 1px 1px 3px rgba(#000, 0.2);

  &::after {
    margin-left: 10px;
    content: '\0262D';
    font-size: $font-size-base * 2.3;
  }
}

h2, h3, p, pre, blockquote {
  margin-bottom: $font-size-base * $line-height-base / 2;
}

p > img {
  width: 100%;
  max-width: 898px;
}

blockquote {
  padding: 0 15px;
  border-left: 4px solid #ddd;
  color: #777;
}

.copyright {
  padding-top: 20px;
  text-align: center;
  color: #666;
}

.good {
  color: nth(nth($flash-colors, 1), 1);

  + .highlight > pre {
    background-color: nth(nth($flash-colors, 1), 2);
    border-color: nth(nth($flash-colors, 1), 3);
  }
}

.bad {
  color: nth(nth($flash-colors, 3), 1);

  + .highlight > pre {
    background-color: nth(nth($flash-colors, 3), 2);
    border-color: nth(nth($flash-colors, 3), 3);
  }
}

@import 'base/codes', 'highlight';
@import '../../../works/edr-assets/scss/_base2/ui-buttons';
