<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>{{ page.title }}</title>
    <link href="/stylesheets/style.css" rel="stylesheet" />
  </head>

  <body>
    <section class="container">
      <header class="logo"></header>

      <nav class="dashboard-tabs" id="j-nav">
        <ul>
          {% for post in site.categories.styleguide reversed %}
          <li><a href="/#{{ post.id }}">{{ post.title | split: ' ' | first }}</a></li>
          {% endfor %}
        </ul>
      </nav>

      {{ content }}

      <footer class="copyright">&copy;2013 eDoctor</footer>
    </section>
    <script>this.console?console.log('%c\u4e00\u4e2a\u7c97\u5fc3\u7684\u7a0b\u5e8f\u5458\u662f\u4e0d\u53ef\u80fd\u5353\u8d8a\u7684\uff01','background:#000;color:#fff;font-size:64px'):alert('\u4f60\u4e2b\u7528\u7684\u4ec0\u4e48\u7834\u6d4f\u89c8\u5668\u554a\uff1f\u8fde console \u90fd\u6ca1\u6709\uff01\u6eda\u7c97\uff01')</script>
  </body>
</html>
